[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
boto3 = "*"
pika = "*"
aio-pika = "*"
pyjwt = "*"
python-jose = "*"
psycopg2-binary = "*"
pytz = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
